@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
    color: #68c6ff;
}

h4 {
    align-content: center;
    text-align: center;
}


.first {
    text-align: end;
}

.access {
    color: #008000;
}

.denied {
    color: #ff0000;
}

.middle {
    align-content: center;
    text-align: center;
}

.in, .out, .up, .file, .lg__cover, .lg__monitor, .lg__dashboard, .disc__new {
    border: solid 1.5px black;
    border-radius: 3px;
    text-decoration: none;
    display: inline;
    padding: 5px;
}
.disc__new:hover {
    cursor: pointer;
    color: white;
    background-color: #2a92ff;
}

.out, .up, .file, .linux_user, .linux_pass {
    margin-left: 3px;
}

nav a {
    color: black;
}

nav a:hover {
    background-color: #2a92ff;
    color: white;
}

.list, .lg__monitor, .lg__dashboard, .cancel {
    margin-left: 7px
}

.demo, .wwFormTable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event {
    display: none;
}

.disc__title {
    display: flex;
    margin: -5px 0 0 120px;
}

.disc__entry {
    margin-left: 120px;
}

.name {
    margin-left: 0px;
}

.ip {
    margin-left: 146px;
}

.disc__address {
    margin-left: 5px;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.disc__heading {
    text-align: center;
}

.disc__data {
    text-align: center;
}

.disc__monitor {
    cursor: pointer;
}

.disc__monitor:hover, .disc__edit:hover, .disc__delete:hover, .disc__discovery:hover {
    color: #2a92ff;
}

.disc__monitor, .disc__edit, .disc__delete, .disc__discovery {
    cursor: pointer;
}

.form-popUp {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.disc__popUp {
    width: 50%;
    margin-left:25%;
    margin-top: 15px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.popUp__icon {
    margin-left: 520px;
}

.monitor__search {
    height: 25px;
    border-radius: 10px;
}
.monitor__icon {
    cursor: pointer;
}

.monitor__icon:hover {
    color: #2a92ff;
}

.active {
    background-color: #666;
    color: white;
}

/*.first a.active {*/
    /*background-color: #2a92ff;*/
    /*color: white;*/
/*}*/

#pieChart {
    width: 50%;
    height: 50%;
    padding: 0;
}

#timeChart {
    width: 50%;
    height: 50%;
    padding: 0;
    margin-right: 0;
}
